<nav class="navbar navbar-expand-lg navbar-light" id="lexture-navbar">
  <a class="navbar-brand ml-3" href="/">
    <img
      src="../assets/logo.png"
      height="40"
      alt=""
      data-step="1"
      data-intro="Welcome to Lexture, the smart lecture content platform!"
    />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline mx-auto">
      <input
        class="form-control mr-0 rounded-0"
        id="lexture-search-bar"
        type="search"
        placeholder="Search"
        aria-label="Search"
        data-step="2"
        data-intro="Try searching for 'machine learning' to find relevant content!"
      />
      <button class="btn btn-light px-2 rounded-0" id="lexture-search-btn">
        <img src="../assets/search.png" height="21" alt="Search" />
      </button>
    </form>

    <a class="navbar-brand mr-3 ml-5" href="/upload">
      <img src="../assets/upload.png" height="45" alt="Upload" />
    </a>

    <a class="navbar-brand mr-3" href="/">
      <img src="../assets/profile.png" height="45" alt="Profile" />
    </a>
  </div>
</nav>
<!--jQuery-->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
></script>
<!--navbar logic-->
<script src="scripts/navbar.js"></script>
